/* Set the background color of the whole document */
body {
  background-color: #00b3e6; /* Light blue */
}

/* Style div elements */
div {
  width: 700px;
  margin: auto; /* Centers the element */
  font-family: "Helvetica Neue", sans-serif;
  background-color: white;
  padding: 30px; /* Adds space around the element */
}

/* Style the main header */
#main-header {
  font-size: 22px;
}

/* Style elements with the .perspective-questions class */
.perspective-questions {
  font-style: italic;
}
